body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 260px;
    height: 390px;
    background-color: white;
    border-radius: 10px;
    padding-top: 0.63rem;
}

.QR{
    width: 90%;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-size: 0.94rem;
    padding-left: 0.95rem;
    padding-right: 0.95rem;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit';
    font-weight: 400;
}

h1{
    color: hsl(218, 44%, 22%);
    font-size: 1.2rem;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    font-family: 'Outfit';
    font-weight: 700;
}

